<live-view #live_view id="live-view" class="drag-boundary" [n_vertical]=25 [n_horizontal]=50 [output_id]="output_id"  >
</live-view>
<mat-card>
    <mat-card-title *ngIf="type=='channel'">
        Channel {{this.id}}
    </mat-card-title>
    <mat-card-title *ngIf="type=='mixer'">
        Mixer {{this.id}}
    </mat-card-title>
    <mat-card-content>
    <div id="channel_config" *ngIf="type=='channel'">
    <mat-form-field appearance="fill">
        <mat-label>Active Effect</mat-label>
        <mat-select [(ngModel)]="currentEffect" name="itrEffect" (selectionChange)="onActiveEffectChange($event)">
            <mat-option *ngFor="let itrEffect of effectsWrapper.effects" [value] = "itrEffect">{{itrEffect.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-card>
        <mat-card-title>
            {{currentEffect.name ? currentEffect.name : currentEffect ? "name is undefined" : "currentEffect is undefined"}}
        </mat-card-title>
        <mat-card-content>
            <div *ngFor="let effectOption of currentEffect.options">
                <div class="option-container">
                    <label *ngIf="effectOption.name.toLowerCase().indexOf('image') === -1">{{effectOption.name}}</label>
                    <label *ngIf="effectOption.option_type === EffectOptionType.Analog">{{$any(effectOption).value}}</label>
                    <mat-form-field appearance="fill"
                        *ngIf="effectOption.option_type === EffectOptionType.Select && effectOption.name.toLowerCase().indexOf('image') === -1">
                        <mat-select [(value)]="$any(effectOption).value" (selectionChange)="onEffectOptionChange()">
                            <mat-option *ngFor="let option of $any(effectOption).options" [value]="option">{{option}}</mat-option>
                        </mat-select>
                        
                    </mat-form-field>
                    <!-- If the name does contain "image", then we want to create a row of images to choose from, instead of using usual selector -->
                    <div class="image-selector" *ngIf="effectOption.option_type === EffectOptionType.Select && effectOption.name.toLowerCase().indexOf('image') !== -1">
                        <!-- <mat-grid-list cols={{$any(effectOption).options.length}} rowHeight="1:1">
                            <mat-grid-tile *ngFor="let image of $any(effectOption).options" (click)="onEffectOptionChange()">
                                <img class="tile-image" [src]="image"  >
                            </mat-grid-tile>
                        </mat-grid-list> -->
                        <div class="image-selector-tile" *ngFor="let image of $any(effectOption).options" (click)="onImageSelected(image)">
                            <img class="tile-image" [src]="image"  >
                        </div>
                    </div>
                    <button mat-button class="color_swatch" *ngIf="effectOption.option_type === EffectOptionType.Color" (click)="openColorPicker($any(effectOption))" [style.background]="$any(effectOption).value"></button>
                    <mat-checkbox
                    [(ngModel)]="$any(effectOption).value"
                    *ngIf="effectOption.option_type === EffectOptionType.Boolean"
                    (change)="onEffectOptionChange()"
                    >
                    </mat-checkbox>
                
                </div>
                <mat-slider
                    thumbLabel
                    [displayWith]="formatLabel"
                    [min]="$any(effectOption).min"
                    [max]="$any(effectOption).max"
                    [step]="$any(effectOption).step"
                    [(value)]="$any(effectOption).value"
                    *ngIf="effectOption.option_type === EffectOptionType.Analog"
                    (change)="onEffectOptionChange()"
                >
                </mat-slider>
            </div>
        </mat-card-content>
    </mat-card>
    </div>
    <div id="mixer_config" *ngIf="type=='mixer'">
        <div *ngFor="let effectOption of currentMixer.options">
            <div class="option-container">
                <mat-form-field appearance="fill"
                    *ngIf="effectOption.option_type === EffectOptionType.Select">
                    <mat-label>Mix Type</mat-label>
                    <mat-select [(value)]="$any(effectOption).value" (selectionChange)="onEffectOptionChange()">
                        <mat-option *ngFor="let option of $any(effectOption).options" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <label *ngIf="effectOption.option_type === EffectOptionType.Analog">{{$any(effectOption).value}}</label>
            </div>
            <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                [min]="$any(effectOption).min"
                [max]="$any(effectOption).max"
                [step]="$any(effectOption).step"
                [(value)]="$any(effectOption).value"
                *ngIf="effectOption.option_type === EffectOptionType.Analog"
                (change)="onEffectOptionChange()"
            >
            ></mat-slider>
        </div>
    </div>
    <mat-card-actions align=end>
        <button mat-button [routerLink]="['../../..']" (click)="onRevert()" style="background-color: #9fa8da">BACK</button>
        <button mat-button (click)="onRevert()" style="background-color:#ffab91">REVERT</button>
        <button mat-button [routerLink]="['../../..']" (click)="onEffectOptionChange()" style="background-color: #a5d6a7">APPLY</button>
    </mat-card-actions>
    </mat-card-content>
</mat-card>
