<live-view [n_vertical]=10 [n_horizontal]=30></live-view>

<mat-grid-list cols="3" rowHeight="1:1" gutterSize="5">
    <mat-grid-tile class="mat-elevation-z4" style="background-color: #f48fb1">
        <div class="effect-button " matRipple [routerLink]="['edit/channel/1']"> Channel 1 </div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z4" style="background-color: #f48fb1">
        <div class="effect-button " matRipple [routerLink]="['edit/mixer/1']"> Mixer</div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z4" style="background-color: #f48fb1">
        <div class="effect-button " matRipple [routerLink]="['edit/channel/2']"> Channel 2 </div>
    </mat-grid-tile>
    <mat-grid-tile >

    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z4" style="background-color: #b39ddb">
        <div class="effect-button " matRipple [routerLink]="['edit/mixer/3']"> Mixer</div>
    </mat-grid-tile>
    <mat-grid-tile>
        
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z4" style="background-color: #9fa8da">
        <div class="effect-button " matRipple [routerLink]="['edit/channel/3']"> Channel 3 </div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z4" style="background-color: #9fa8da">
        <div class="effect-button " matRipple [routerLink]="['edit/mixer/2']"> Mixer</div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z4" style="background-color: #9fa8da">
        <div class="effect-button " matRipple [routerLink]="['edit/channel/4']"> Channel 4 </div>
    </mat-grid-tile>
</mat-grid-list>

