<h1>live view</h1>
<!-- <div id="wrapper" style="grid-template-rows: repeat({{n_vertical}}); grid-template-columns: repeat({{n_horizontal}});">
    <div class="cell" *ngFor="let index of [].constructor(n_horizontal*n_vertical); let j = index">
</div> -->
<!-- <div class="live_view_wrapper">
    <div class = "row-wrapper">
        <div class = "flex-container" *ngFor="let index of [].constructor(n_vertical); let i = index">
            <div class = "flex-item" *ngFor="let index of [].constructor(n_horizontal); let j = index">
        </div>
    </div>
</div> -->

<div id="wrapper" (resized)="onResized($event)">
<mat-grid-list id="matrix_1" cols="{{n_horizontal}}" rowHeight="1:1" style="width: {{width}}px" gutterSize="{{gutter_size}}px">
    <div *ngFor="let index of [].constructor(n_vertical*n_horizontal); let i = index">
        <mat-grid-tile  id="pixel_{{i}}">{{i}}_1</mat-grid-tile>
    </div>
</mat-grid-list>
<!-- <mat-grid-list id="matrix_2" cols="{{n_horizontal}}" rowHeight="1:1" style="width: {{width}}px" gutterSize="{{gutter_size}}px">
    <div *ngFor="let index of [].constructor(n_vertical*n_horizontal); let i = index">
        <mat-grid-tile  id="pixel_{{i}}_1">{{i}}_2</mat-grid-tile>
    </div>
</mat-grid-list> -->
</div>



<!-- <div id="wrapper" (resized)="onResized($event)">
<mat-grid-list id="matrix" cols="{{n_horizontal}}" rowHeight="1:1" style="width: {{width}}px" gutterSize="{{gutter_size}}px">
    <div *ngFor="let pixel of pixels | async">
        <mat-grid-tile *ngIf="pixel.patched" [style.background] = "getHex(pixel)"></mat-grid-tile>
        <mat-grid-tile *ngIf="!pixel.patched" class="unpatched"></mat-grid-tile>
    </div>
</mat-grid-list>
</div> -->
